body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
}

header{
    background-image: linear-gradient(315deg, #63a4ff,  #83eaf1);
    height: 350px;
    align-items: center;
}

.title{
    text-align: center;
    font-size: 45px;
    margin-top: -10px;
}

.logic{
    text-align: center;
    font-size: 50px;
    margin-top: -30px;
}

.pravila{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    margin-top: -40px;
}

.knopka {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    width: 400px;
    height: 50px;
    font-size: 40px;
    margin-bottom: 20px;
}

.slojnost{
    display: flex;
    justify-content: center;
}

.main{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 100%, rgba(148,187,233,1) 100%);
    padding: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer {
    position: relative; /* Добавляем относительное позиционирование, чтобы поместить текст внутри */
    background-image: linear-gradient(315deg, #63a4ff,  #83eaf1);
    padding: 1px;
    text-align: center;
    font-size: 15px;
    color: rgb(255, 255, 255); /* Установим белый цвет текста для контраста */
    line-height: 115px; /* Выравнивание по вертикали */
}
